<div>
  <app-banner title="Gerenciar Produtos"></app-banner>
  <app-search (searchText)="onSearchText($event)"></app-search>

  @for (product of products(); track product.id) {
    @defer (on viewport) {
      <app-card [isManagable]="true" [product]="product" (onDelete)="onDelete($event)" (onEdit)="onEdit($event)"/>
    } @placeholder {
      <div>Carregando...</div>
    }
  } @empty {
    <div>Nenhum produto cadastrado.</div>
  }

  <button mat-fab class="floating-button" (click)="onSubscribeProduct()">
    <mat-icon>add</mat-icon>
  </button>
</div>
