:host {
  width: 100%;
  display: flex;
  padding-left: 240px;
  padding-right: 240px;
  background: var(--Azul1, #19325C);
  font-size: 48px;
  font-family: "Montserrat";
  font-weight: 700;
  color: #E5EBF5;
  height: 160px;
  justify-content: center;
  align-items: center;
}
